/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
	--header-height: 3rem;

	/*========== Colors ==========*/
	/* Change favorite color */
	--hue-color: 250;
	/*Purple 250 - Green 142 - Blue 230 - Pink 340*/

	/* HSL color mode */
	--first-color: hsl(var(--hue-color), 69%, 61%);
	--first-color-second: hsl(var(--hue-color), 69%, 61%);
	--first-color-alt: hsl(var(--hue-color), 57%, 53%);
	--first-color-lighter: hsl(var(--hue-color), 92%, 85%);
	--title-color: hsl(var(--hue-color), 8%, 15%);
	--text-color: hsl(var(--hue-color), 8%, 45%);
	--text-color-light: hsl(var(--hue-color), 8%, 65%);
	--input-color: hsl(var(--hue-color), 70%, 96%);
	--body-color: hsl(var(--hue-color), 60%, 99%);
	--container-color: #fff;
	--scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
	--scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

	/*========== Font and typography ==========*/
	--body-font: 'Poppins', sans-serif;

	/* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
	--big-font-size: 2rem;
	--h1-font-size: 1.5rem;
	--h2-font-size: 1.25rem;
	--h3-font-size: 1.125rem;
	--normal-font-size: .938rem;
	--small-font-size: .813rem;
	--smaller-font-size: .75rem;

	/*========== Font weight ==========*/
	--font-medium: 500;
	--font-semi-bold: 600;

	/*========== Margenes Bottom ==========*/
	/* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
	--mb-0-25: .25rem;
	--mb-0-5: .5rem;
	--mb-0-75: .75rem;
	--mb-1: 1rem;
	--mb-1-5: 1.5rem;
	--mb-2: 2rem;
	--mb-2-5: 2.5rem;
	--mb-3: 3rem;

	/*========== z index ==========*/
	--z-tooltip: 10;
	--z-fixed: 100;
	--z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
	:root {
		--big-font-size: 3rem;
		--h1-font-size: 2.25rem;
		--h2-font-size: 1.5rem;
		--h3-font-size: 1.25rem;
		--normal-font-size: 1rem;
		--small-font-size: .875rem;
		--smaller-font-size: .813rem;
	}
}

/*========== Variables Dark theme ==========*/
body.dark-theme {
	/* HSL color mode */
	--first-color-second: hsl(var(--hue-color), 30%, 8%);
	--title-color: hsl(var(--hue-color), 8%, 95%);
	--text-color: hsl(var(--hue-color), 8%, 75%);
	--input-color: hsl(var(--hue-color), 29%, 16%);
	--body-color: hsl(var(--hue-color), 28%, 12%);
	--container-color: hsl(var(--hue-color), 29%, 16%);
	--scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
	--scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
}


/*========== Button Dark/Light ==========*/
.nav__btns {
	display: flex;
	align-items: center;
}

.change-theme {
	font-size: 1.25rem;
	color: var(--title-color);
	margin-right: var(--mb-1);
	cursor: pointer;
}

.change-theme:hover {
	color: var(--first-color);
}


/*==================== BASE ====================*/
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0 0 var(--header-height) 0;
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	background-color: var(--body-color);
	color: var(--text-color);
}

h1,
h2,
h3,
h4 {
	color: var(--title-color);
	font-weight: var(--font-semi-bold);
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
	padding: 2rem 0 4rem;
}

.section__title {
	font-size: var(--h1-font-size);
	color: var(--title-color);
}

.section__subtitle {
	display: block;
	font-size: var(--small-font-size);
	margin-bottom: var(--mb-3);
}

.section__title,
.section__subtitle {
	text-align: center;
}

/*==================== LAYOUT ====================*/
.container {
	max-width: 768px;
	margin-left: var(--mb-1-5);
	margin-right: var(--mb-1-5);
}

.grid {
	display: grid;
	gap: 1.5rem;
}

.header {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: var(--z-fixed);
	background-color: var(--body-color);
}

/*==================== NAV ====================*/
.nav {
	max-width: 968px;
	height: var(--header-height);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav__logo,
.nav__toggle {
	color: var(--title-color);
	font-weight: var(--font-medium);
}

.nav__logo:hover {
	color: var(--first-color);
}

.nav__toggle {
	font-size: 1.1rem;
	cursor: pointer;
}

.nav__toggle:hover {
	color: var(--first-color);
}

@media screen and (max-width: 767px) {
	.nav__menu {
		position: fixed;
		bottom: -100%;
		left: 0;
		width: 100%;
		background-color: var(--body-color);
		padding: 2rem 1.5rem 4rem;
		box-shadow: 0 -1px 4px var(--first-color-lighter);
		border-radius: 1.5rem 1.5rem 0 0;
		transition: .3s;
	}
}

.nav__list {
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
}

.nav__link {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: var(--small-font-size);
	color: var(--title-color);
	font-weight: var(--font-medium);
}

.nav__link:hover {
	color: var(--first-color);
}

.nav__icon {
	font-size: 1.2rem;
}

.nav__close {
	position: absolute;
	right: 1.3rem;
	bottom: .5rem;
	font-size: 1.5rem;
	cursor: pointer;
	color: var(--first-color);
}

.nav__close:hover {
	color: var(--first-color-alt);
}

/* show menu */
.show-menu {
	bottom: 0;
}

/* Active link */
.active-link {
	color: var(--first-color);
}

/* Change background header */
.scroll-header {
	box-shadow: 0 -1px 4px var(--first-color-lighter);
}


/*==================== HOME ====================*/
.home__container {
	gap: 1rem;
}

.home__content {
	grid-template-columns: .5fr 3fr;
	padding-top: 3.5rem;
	align-items: center;
}

.home__social {
	display: grid;
	grid-template-columns: max-content;
	row-gap: 1rem;
}

.simple-icons--leetcode {
	display: inline-block;
	width: 1em;
	height: 1em;
	--svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M13.483 0a1.374 1.374 0 0 0-.961.438L7.116 6.226l-3.854 4.126a5.266 5.266 0 0 0-1.209 2.104a5.35 5.35 0 0 0-.125.513a5.527 5.527 0 0 0 .062 2.362a5.83 5.83 0 0 0 .349 1.017a5.938 5.938 0 0 0 1.271 1.818l4.277 4.193l.039.038c2.248 2.165 5.852 2.133 8.063-.074l2.396-2.392c.54-.54.54-1.414.003-1.955a1.378 1.378 0 0 0-1.951-.003l-2.396 2.392a3.021 3.021 0 0 1-4.205.038l-.02-.019l-4.276-4.193c-.652-.64-.972-1.469-.948-2.263a2.68 2.68 0 0 1 .066-.523a2.545 2.545 0 0 1 .619-1.164L9.13 8.114c1.058-1.134 3.204-1.27 4.43-.278l3.501 2.831c.593.48 1.461.387 1.94-.207a1.384 1.384 0 0 0-.207-1.943l-3.5-2.831c-.8-.647-1.766-1.045-2.774-1.202l2.015-2.158A1.384 1.384 0 0 0 13.483 0m-2.866 12.815a1.38 1.38 0 0 0-1.38 1.382a1.38 1.38 0 0 0 1.38 1.382H20.79a1.38 1.38 0 0 0 1.38-1.382a1.38 1.38 0 0 0-1.38-1.382z'/%3E%3C/svg%3E");
	background-color: currentColor;
	-webkit-mask-image: var(--svg);
	mask-image: var(--svg);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: 100% 100%;
	mask-size: 100% 100%;
}

.simple-icons--geeksforgeeks {
	display: inline-block;
	width: 1em;
	height: 1em;
	--svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M21.45 14.315c-.143.28-.334.532-.565.745a3.691 3.691 0 0 1-1.104.695a4.51 4.51 0 0 1-3.116-.016a3.79 3.79 0 0 1-2.135-2.078a3.571 3.571 0 0 1-.13-.353h7.418a4.26 4.26 0 0 1-.368 1.008zm-11.99-.654a3.793 3.793 0 0 1-2.134 2.078a4.51 4.51 0 0 1-3.117.016a3.7 3.7 0 0 1-1.104-.695a2.652 2.652 0 0 1-.564-.745a4.221 4.221 0 0 1-.368-1.006H9.59c-.038.12-.08.238-.13.352m14.501-1.758a3.849 3.849 0 0 0-.082-.475l-9.634-.008a3.932 3.932 0 0 1 1.143-2.348c.363-.35.79-.625 1.26-.809a3.97 3.97 0 0 1 4.484.957l1.521-1.49a5.7 5.7 0 0 0-1.922-1.357a6.283 6.283 0 0 0-2.544-.49a6.35 6.35 0 0 0-2.405.457a6.007 6.007 0 0 0-1.963 1.276a6.142 6.142 0 0 0-1.325 1.94a5.862 5.862 0 0 0-.466 1.864h-.063a5.857 5.857 0 0 0-.467-1.865a6.13 6.13 0 0 0-1.325-1.939A6 6 0 0 0 8.21 6.34a6.698 6.698 0 0 0-4.949.031A5.708 5.708 0 0 0 1.34 7.73l1.52 1.49a4.166 4.166 0 0 1 4.484-.958c.47.184.898.46 1.26.81c.368.36.66.792.859 1.268c.146.344.242.708.285 1.08l-9.635.008A4.714 4.714 0 0 0 0 12.457a6.493 6.493 0 0 0 .345 2.127a4.927 4.927 0 0 0 1.08 1.783c.528.56 1.17 1 1.88 1.293a6.454 6.454 0 0 0 2.504.457c.824.005 1.64-.15 2.404-.457a5.986 5.986 0 0 0 1.964-1.277a6.116 6.116 0 0 0 1.686-3.076h.273a6.13 6.13 0 0 0 1.686 3.077a5.99 5.99 0 0 0 1.964 1.276a6.345 6.345 0 0 0 2.405.457a6.45 6.45 0 0 0 2.502-.457a5.42 5.42 0 0 0 1.882-1.293a4.928 4.928 0 0 0 1.08-1.783A6.52 6.52 0 0 0 24 12.457a4.757 4.757 0 0 0-.039-.554'/%3E%3C/svg%3E");
	background-color: currentColor;
	-webkit-mask-image: var(--svg);
	mask-image: var(--svg);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: 100% 100%;
	mask-size: 100% 100%;
}

.home__social-icon {
	font-size: 1.5rem;
	color: var(--first-color);
}

.home__social-icon:hover {
	color: var(--first-color-alt);
}

.home__blob {
	width: 200px;
	fill: var(--first-color);
}

.home__blob-img {
	width: 170px;
}

.home__data {
	grid-column: 1/3;
}

.home__title {
	font-size: var(--big-font-size);
}

.home__subtitle {
	font-size: var(--h3-font-size);
	color: var(--text-color);
	font-weight: var(--font-medium);
	margin-bottom: var(--mb-0-75);
}

.home__description {
	margin-bottom: var(--mb-2);
}

/*==================== BUTTONS ====================*/
.button {
	display: inline-block;
	background-color: var(--first-color);
	color: #fff;
	padding: 1rem;
	border-radius: .5rem;
	font-weight: var(--font-medium);
}

.button:hover {
	background-color: var(--first-color-alt);
}

.button__icon {
	font-size: 1.25rem;
	margin-left: var(--mb-0-5);
	transition: .3s;
}

.button--flex {
	display: inline-flex;
	align-items: center;
}

.button--small {
	padding: .75rem 1rem;
}

.button--link {
	padding: 0;
	background-color: transparent;
	color: var(--first-color);
}

.button--link:hover {
	background-color: transparent;
	color: var(--first-color-alt);
}

/*==================== ABOUT ====================*/
.about__img {
    /* width: 200px; */
	/* border-radius: 10rem 10rem 1rem 1rem; */
	justify-self: center;
	/* align-self: center; */
}

.about__blob {
	width: 320px;
}

.about__blob path {
	stroke: var(--first-color);
}

.about__description {
	text-align: center;
	margin-bottom: var(--mb-2-5);
}

.about__buttons {
	display: flex;
	justify-content: center;
}


/*==================== SKILLS ====================*/
.skills__container {
	row-gap: 2rem;
}

.skills__content {
	background-color: var(--container-color);
	padding: 1.5rem .5rem;
	border: 2px solid var(--first-color);
	border-radius: .5rem;
	text-align: center;
}

.skills__icon {
	display: block;
	font-size: 3rem;
	color: var(--first-color);
}

.skills__title {
	font-size: var(--h3-font-size);
	margin-bottom: var(--mb-1);
	font-weight: var(--font-medium);
}

.skills__content, .skills__icon, .skills__title, .skills__description, #skills__button {
	transition: .5s;
}

.skills__content:hover {
	background-color: var(--first-color);
}

.skills__content:hover .skills__icon {
	color: var(--first-color-lighter);
}

.skills__content:hover .skills__title {
	color: var(--first-color-lighter);
}

.skills__content:hover .skills__description {
	color: var(--first-color-lighter);
}

.skills__content:hover #skills__button {
	color: var(--title-color);
}

.skills__modal-title {
	font-size: var(--h3-font-size);
	font-weight: var(--font-medium);
	margin-bottom: var(--mb-1-5);
	text-align: center;
}

.skills__modal-content {
	position: relative;
	background-color: var(--container-color);
	padding: 1.5rem;
	border-radius: 1.25rem;
	text-align: start;
}

.skills__modal-skillss {
	row-gap: 0.25rem;
}

.two-columns {
	display: flex;
}

.column {
	margin-right: 20px;
}

ul {
	list-style-type: none;
	padding: 0;
}

/*==================== QUALIFICATION ====================*/
.qualification__tabs {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: var(--mb-2);
}

.qualification__button {
	font-size: var(--h3-font-size);
	font-weight: var(--font-medium);
	cursor: pointer;
}

.qualification__button:hover {
	color: var(--first-color);
}

.qualification__icon {
	font-size: 1.8rem;
	margin-right: var(--mb-0-25);
}

#education {
	gap: 1.5rem;
	grid-template-columns: repeat(2, 1fr);
	padding: 1.5rem;
	background-color: var(--container-color);
	border-radius: .5rem;
	box-shadow: 0 2px 4px var(--first-color-lighter);
}

.qualification__education {
	display: grid;
	grid-template-columns: 1fr max-content 1fr;
	column-gap: 1.5rem;
}

.education__button {
	cursor: pointer;
	font-size: var(--small-font-size);
}

.education__button:hover .button__icon {
	transform: translateX(.25rem);
}

.education__modal {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .5);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: var(--z-modal);
	opacity: 0;
	visibility: hidden;
	transition: 0.3s;
}

.education__modal-content {
	position: relative;
	background-color: var(--container-color);
	padding: 1.5rem;
	border-radius: 1.25rem;
}

.education__modal-educations {
	row-gap: 1rem;
}

.education__modal-education {
	display: flex;
}

.education__modal-title {
	font-size: var(--h3-font-size);
	font-weight: var(--font-medium);
	margin-bottom: var(--mb-1-5);
}

.education__modal-close {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 1.5rem;
	color: var(--first-color);
	cursor: pointer;
}

.education__modal-icon {
	color: var(--first-color);
	margin-right: var(--mb-0-25);
}

#certification {
	gap: 1.5rem;
	padding: 1rem;
	background-color: var(--container-color);
	border-radius: 0.5rem;
	box-shadow: 0 2px 4px var(--first-color-lighter);
	text-align: center;
}

.qualification__certification {
	margin: 0.5rem;
	display: inline-table;
	text-align: left;
	gap: 1rem;
	padding: 1rem;
	border-radius: 1rem;
	box-shadow: 0 0 2px var(--first-color-lighter);
	width: 45%;
}

.qualification__certification:hover {
	box-shadow: 0 2px 8px var(--first-color-lighter);
	.qualification__title {
		color: var(--first-color);
	}
}

.qualification__title {
	font-size: var(--normal-font-size);
	font-weight: var(--font-medium);
}

.qualification__subtitle {
	display: inline-block;
	font-size: var(--small-font-size);
	margin-bottom: var(--mb-1);
}

.qualification__skills {
	font-size: var(--small-font-size);
	margin-bottom: var(--mb-1);
}

a.qualification__view:link,
a.qualification__view:visited {
	color: var(--text-color);
}

.qualification__calender {
	font-size: var(--smaller-font-size);
	color: var(--text-color-light);
}

.qualification__logo {
	width: 5rem;
}

.qualification__rounder {
	display: inline-block;
	width: 13px;
	height: 13px;
	background-color: var(--first-color);
	border-radius: 50%;
}

.qualification__line {
	display: block;
	width: 1px;
	height: 100%;
	background-color: var(--first-color);
	transform: translate(6px, -7px);
}

.qualification [data-content] {
	display: none;
}

.qualification__active[data-content] {
	display: block;
}

.qualification__button.qualification__active {
	color: var(--first-color);
}

/* Active Modal */
.active-modal {
	opacity: 1;
	visibility: visible;
}

/*==================== PROJECTS ====================*/
.projects {
	background-color: var(--body-color);
}

.projects__container {
	row-gap: 2rem;
}

.projects__card {
	background-color: var(--container-color);
	padding: 1rem 1rem 2rem;
	border-radius: .5rem;
	box-shadow: 0 2px 4px var(--first-color-lighter);
}

.projects__image {
	/* width: 265px; */
	position: relative;
	margin-bottom: var(--mb-0-75);
}

.projects__button {
	position: absolute;
	right: 1rem;
	bottom: -1.5rem;
	padding: 1rem;
}

.projects__content {
	margin-bottom: 1.25rem;
}

.projects__subtitle {
	position: relative;
	display: inline-block;
	font-size: var(--small-font-size);
	font-weight: var(--font-medium);
	color: var(--text-color);
	margin-bottom: var(--mb-0-75);
	padding-left: 1.75rem;
}

.projects__subtitle::after {
	content: '';
	width: 20px;
	height: 1px;
	background-color: var(--text-color);
	position: absolute;
	top: 50%;
	left: 0;
}

.projects__title {
	font-size: var(--h3-font-size);
	margin-bottom: var(--mb-0-75);
}

.projects__buttons {
	display: flex;
	align-items: center;
	column-gap: 1.75rem;
}

.projects__link {
	display: flex;
	align-items: center;
	column-gap: .25rem;
	color: var(--text-color);
	font-size: var(--small-font-size);
	font-weight: var(--font-medium);
	transition: color .4s;
}

.projects__link i {
	font-size: 1rem;
	color: var(--title-color);
	transition: color .4s;
}

.projects__link:hover,
.projects__link:hover i {
	color: var(--first-color);
}

.projects__card:hover {
	box-shadow: 2px 4px 8px var(--first-color-lighter);
}


/*==================== CONTACT ME ====================*/
.contact__container {
	row-gap: 3rem;
}

.contact__title {
	text-align: center;
	font-size: var(--h3-font-size);
	font-weight: var(--font-medium);
	margin-bottom: var(--mb-1-5);
}

.contact__info {
	display: grid;
	gap: 1rem;
}

.contact__card {
	padding: 1rem;
	text-align: center;

}

.contact__card-icon {
	font-size: 2rem;
	color: var(--first-color);
	margin-right: var(--mb-0-75);
}

.contact__card-title
.contact__card-data {
	font-size: var(--small-font-size);
}

.contact__card-title {
	font-weight: var(--font-medium);
}

.contact__card-data {
	display: block;
	margin-bottom: var(--mb-0-75);
}

.contact__button {
	color: var(--first-color);
	font-size: var(--small-font-size);
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: .25rem;
}

.contact__button:hover .contact__button-icon {
	transform: translate(.25rem);
}

.contact__button-icon {
	font-size: 1rem;
	transition: .4s;
}

.contact__form-div {
	position: relative;
	margin-bottom: var(--mb-2);
	height: 4rem;
}

.contact__form-input {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 2px solid var(--text-color-light);
	background: none;
	color: var(--text-color);
	outline: none;
	padding: 1.5rem;
	border-radius: .75rem;
	z-index: 1;
}

.contact__form-tag {
	position: absolute;
	top: -0.75rem;
	left: 1.25rem;
	font-size: var(--smaller-font-size);
	padding: 0.25rem;
	background-color: var(--body-color);
	z-index: 10;
}

.contact__form-area {
	height: 11rem;
}

.contact__form-area textarea {
	resize: none;
}

.contact__form-button {
	font-size: var(--normal-font-size);
	font-weight: bold;
}

.contact__message {
	margin-top: 1.5rem;
	padding-left: .5rem;
}


/*==================== FOOTER ====================*/
.footer {
	padding-top: 2rem;
}

.footer__container {
	row-gap: 3.5rem;
}

.footer__bg {
	background-color: var(--first-color-second);
	padding: 2rem 0 3rem;
}

.footer__title {
	font-size: var(--h1-font-size);
	margin-bottom: var(--mb-0-25);
}

.footer__subtitle {
	font-size: var(--small-font-size);
}

.footer__social {
	font-size: 1.25rem;
	margin-right: var(--mb-1-5);
}

.footer__social:hover {
	color: var(--first-color-lighter);
}

.footer__copy {
	font-size: var(--smaller-font-size);
	text-align: center;
	color: var(--text-color-light);
	margin-top: var(--mb-3);
}

.footer__copy a {
	color: var(--text-color-light);
}

.footer__title,
.footer__subtitle,
.footer__social {
	color: #fff;
}


/*========== SCROLL UP ==========*/
.scrollup {
	position: fixed;
	right: 1rem;
	bottom: -20%;
	background-color: var(--first-color);
	opacity: .8;
	padding: 0 .3rem;
	border-radius: .5rem;
	z-index: var(--z-tooltip);
	transition: .4s;
}

.scrollup:hover {
	background-color: var(--first-color-alt);
}

.scrollup__icon {
	font-size: 1.5rem;
	color: #fff;
}

/* Show scroll */
.show-scroll {
	bottom: 5rem;
}


/*========== SCROLL BAR ==========*/
::-webkit-scrollbar {
	width: .6rem;
	background-color: var(--scroll-bar-color);
	border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
	background-color: var(--scroll-thumb-color);
	border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--text-color-light);
}


/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (max-width: 350px) {
	.container {
		margin-left: var(--mb-1);
		margin-right: var(--mb-1);
	}

	.nav__menu {
		padding: 2rem .25rem 4rem;
	}

	.nav__list {
		column-gap: 0;
	}

	.home__content {
		grid-template-columns: .25fr 3fr;
	}
	
	.home__blob {
		width: 180px;
	}

	.skills__container {
		grid-template-columns: repeat(1, 1fr);
		justify-content: center;
	}

	.qualification__education {
		gap: .2rem;
	}

	.education__modal {
		padding: 0.5rem;
	}

	.projects__container {
		grid-template-columns: 300px;
		justify-content: center;
	}
}

/* For medium devices */
@media screen and (min-width: 568px) {
	.home__content {
		grid-template-columns: max-content 1fr 1fr;
	}

	.home__data {
		grid-column: initial;
	}

	.home__image {
		order: 1;
		justify-self: center;
	}

	.about__container,
	.skills__container,
	.contact__container,
	.footer__container {
		grid-template-columns: repeat(2, 1fr);
	}

	.qualification__sections {
		display: grid;
		grid-template-columns: .6fr;
		justify-content: center;
	}

	.projects__container {
		grid-template-columns: 350px;
		justify-content: center;
	}

	.contact__info {
		grid-template-columns: 300px;
		justify-content: center;
	}
	
	.contact__form {
		margin: 0 auto;
	}
}

@media screen and (min-width: 768px) {
	.container {
		margin-left: auto;
		margin-right: auto;
	}

	body {
		margin: 0;
	}

	.section {
		padding: 6rem 0 2rem;
	}

	.section__subtitle {
		margin-bottom: 4rem;
	}

	.header {
		top: 0;
		bottom: initial;
	}

	.header,
	.main,
	.footer__container {
		padding: 0 1rem;
	}

	.nav {
		height: calc(var(--header-height) + 1.5rem);
		column-gap: 1rem;
	}

	.nav__icon,
	.nav__close,
	.nav__toggle {
		display: none;
	}

	.nav__list {
		display: flex;
		column-gap: 2rem;
	}

	.nav__menu {
		margin-left: auto;
	}

	.change-theme {
		margin: 0;
	}

	.home__container {
		row-gap: 5rem;
	}

	.home__content {
		padding-top: 5.5rem;
		column-gap: 2rem;
	}

	.home__blob {
		width: 270px;
	}

	.about__container {
		column-gap: 5rem;
	}

	.about__img {
		width: 270px;
	}

	.about__description {
		text-align: initial;
	}

	.about__buttons {
		justify-content: initial;
	}

	.skills__container {
		grid-template-columns: repeat(3, 1fr);
	}
	
	.education__modal-content {
		width: 500px;
	}

	.qualification__tabs {
		justify-content: center;
	}

	.qualification__button {
		margin: 0 var(--mb-1);
	}

	.qualification__sections {
		grid-template-columns: 1fr;
	}

	.projects__container {
		grid-template-columns: repeat(2, 350px);
		justify-content: center;
	}

	.footer__bg {
		padding: 3rem 0 3.5rem;
	}

	.footer__socials {
		justify-self: flex-end;
	}

	.footer__copy {
		margin-top: 4.5rem;
	}
}

/* For large devices */
@media screen and (min-width: 1024px) {
	.header,
	.main,
	.footer__container {
		padding: 0;
	}

	.home__blob {
		width: 320px;
	}

	.home__social {
		transform: translateX(-6rem);
	}

	.skills__container {
		grid-template-columns: repeat(3, 270px);
	}

	.qualification__sections {
		grid-template-columns: 1fr;
	}

	.projects__container {
		grid-template-columns: repeat(3, 350px);
		padding-block: 3rem 1rem;
	}

	.projects__card {
		padding: 1.25rem 1.25rem 2.5rem;
	}

	.projects__image {
		margin-bottom: 1rem;
	}

	.projects__content {
		margin-bottom: 2rem;
	}

	.contact__form {
		width: 460px;
	}

	.contact__inputs {
		grid-template-columns: repeat(2, 1fr);
	}
}